*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    font-family: arial;
    color: #333;
    font-size: 16px;
}
.form-container{
    margin-top: 15rem;
}
h1{
    font-weight: normal;
    margin: 20px auto;
    text-align: center;
}
form{
    width: 450px;
    margin: 20px auto;
}
input{
    display: block;
    padding: 4px 8px;
    font-size: 2em;
    margin: 2rem auto;
    width: 100%;
    /* border: none; */
   border-radius: 5px;
    border: 3px solid #666666;
    outline: none !important;
}


.valid{
    border-color: red;
}
.invalid{
    border-color: #224422;
}